.progressBar {
  width: 100%;
  height: 20px;
  background-color: #b59393;
  border-radius: 20px;
  margin: 10px 0;
}

.progressBarContainer {
  width: 100%;
  height: 20px;
  background-color: #787878;
  border-radius: 20px;
  margin: 10px 0;
}
