:root {
  --navbar-button: #fff;
  --navbar-background: #61616191;
  --navbar-background-slider: #b4b4b4;
}

.navbarContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 300px;
  height: 30px;
  z-index: 1000;
}

.navbar {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 80px;
  background-color: var(--navbar-background);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  transition: bottom 0.3s ease;
}

.navbar.visible {
  bottom: 0;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--navbar-background-slider);
}

.navbar button {
  color: var(--navbar-button);
}

@media (prefers-color-scheme: light) {
  :root {
    --navbar-button: #666666;
    --navbar-background: #bebebe91;
    --navbar-background-slider: #696969;
  }
}
